Repository fuchicorp/isitup, pull requests merged in 2020-05, with the labels that each got.

#4 The application is ready to deploy
  configurations/domains.yaml
  deployments/docker/isitup/app.py
  deployments/docker/isitup/requirements.txt
  deployments/docker/isitup/services-config.yaml
  deployments/docker/isitup/static/.DS_Store
  deployments/docker/isitup/static/images/.DS_Store
  deployments/docker/isitup/static/images/external-dns.png
  deployments/docker/isitup/static/images/grafana.png
  deployments/docker/isitup/static/images/jenkins.png
  deployments/docker/isitup/static/images/kubernetes.png
  deployments/docker/isitup/static/images/nexus.png
  deployments/docker/isitup/static/images/nginx.png
  deployments/docker/isitup/static/images/prometheus.png
  deployments/docker/isitup/static/images/sonarqube.png
  deployments/docker/isitup/static/images/vault.png
  deployments/docker/isitup/static/style.css
  deployments/docker/isitup/templates/index.html
  deployments/docker/isitup/templates/services.html
Labels: DEV Release, Grafana, Jenkins, Kubernetes, Prometheus

#7 added Dockerfile to isitup
  deployments/docker/Dockerfile
  deployments/docker/isitup/requirements.txt
Labels: DevOps Release, Docker

#9 Isisup terraform
  deployments/terraform/charts/isitup/.helmignore
  deployments/terraform/charts/isitup/Chart.yaml
  deployments/terraform/charts/isitup/templates/NOTES.txt
  deployments/terraform/charts/isitup/templates/_helpers.tpl
  deployments/terraform/charts/isitup/templates/deployment.yaml
  deployments/terraform/charts/isitup/templates/ingress.yaml
  deployments/terraform/charts/isitup/templates/service.yaml
  deployments/terraform/charts/isitup/templates/tests/test-connection.yaml
  deployments/terraform/charts/isitup/values.yaml
  deployments/terraform/isitup.tf
  deployments/terraform/variables.tf
Labels: DevOps Feature, Terraform

#10 Dev feature/mahsuda
  JenkinsDeployer.groovy
  deployments/docker/isitup/app.py
  deployments/terraform/charts/isitup/.helmignore
  deployments/terraform/charts/isitup/Chart.yaml
  deployments/terraform/charts/isitup/templates/NOTES.txt
  deployments/terraform/charts/isitup/templates/_helpers.tpl
  deployments/terraform/charts/isitup/templates/deployment.yaml
  deployments/terraform/charts/isitup/templates/ingress.yaml
  deployments/terraform/charts/isitup/templates/service.yaml
  deployments/terraform/charts/isitup/templates/tests/test-connection.yaml
  deployments/terraform/charts/isitup/values.yaml
  deployments/terraform/isitup.tf
  deployments/terraform/set-env.sh
  deployments/terraform/variables.tf
Labels: CI/CD, DEV Release

#8 Jenkins-built-job
  JenkinsBuilder.groovy
Labels: DevOps Feature, DevOps Release, Jenkins
